@charset "utf-8";
/* CSS Document */
fieldset {
	border: 8px green inset;
	background-color:red;
}
legend {
	color: purple;
	font-size:18px;
	text-align:center;
}
div {
	float:left;
	width:500px;
	
}

